body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
}

#container {
    width: 80%;
    margin: 0 auto;
}

#content {
    display: flex;
    justify-content: space-between;
}

#left-div, #right-div {
    width: 45%;
}

/* Style for h3 tags */
h3 {
    font-weight: 500;
}

/* Style for ordered list */
ol {
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
    list-style: inside;
}

/* Style for unordered list */
ul {
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
    list-style: upper-roman inside;
    font-weight: 300;
}

/* Hover effect for links */
a:hover {
    text-decoration: underline;
}

/* Button styling */
.button-container {
    margin-top: 20px;
}

button {
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

#footer {
    text-align: center;
    margin-top: 30px;
}
